section.ftco-intro.ftco-section.ftco-no-pt
    .container
        .row.justify-content-center
            .col-md-12.text-center
                .img(style='background-image: url(images/bg_2.jpg);')
                    .overlay
                    h2 We Are Pacific A Travel Agency
                    p We can manage your dream building A small river named Duden flows by their place
                    p.mb-0
                        a.btn.btn-primary.px-4.py-3(href='#') Ask For A Quote
