.hero-wrap.js-fullheight(style="background-image: url('images/bg_5.jpg');")
    .overlay
    .container
        .row.no-gutters.slider-text.js-fullheight.align-items-center(data-scrollax-parent='true')
            .col-md-7.ftco-animate
                span.subheading Welcome to Pacific
                h1.mb-4 Discover Your Favorite Place with Us
                p.caps Travel to the any corner of the world, without going around in circles
            a.icon-video.popup-vimeo.d-flex.align-items-center.justify-content-center.mb-4(href='https://vimeo.com/45830194')
                span.fa.fa-play
