section.hero-wrap.hero-wrap-2.js-fullheight(style="background-image: url('/images/bg_1.jpg');")
    .overlay
    .container
        .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-center
            .col-md-9.ftco-animate.pb-5.text-center
                p.breadcrumbs
                    span.mr-2
                        a(href='index.html')
                            | Home 
                            i.fa.fa-chevron-right
                    span
                        | About us 
                        i.fa.fa-chevron-right
                h1.mb-0.bread About Us
