footer.ftco-footer.bg-bottom.ftco-no-pt(style='background-image: url(images/bg_3.jpg);')
    .container
        .row.mb-5
            .col-md.pt-5
                .ftco-footer-widget.pt-md-5.mb-4
                    h2.ftco-heading-2 About
                    p
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    ul.ftco-footer-social.list-unstyled.float-md-left.float-lft
                        li.ftco-animate
                            a(href='#')
                                span.fa-brands.fa-x-twitter
                        li.ftco-animate
                            a(href='#')
                                span.fa-brands.fa-facebook
                        li.ftco-animate
                            a(href='#')
                                span.fa-brands.fa-instagram
            .col-md.pt-5.border-left
                .ftco-footer-widget.pt-md-5.mb-4.ml-md-5
                    h2.ftco-heading-2 Infromation
                    ul.list-unstyled
                        li
                            a.py-2.d-block(href='#') Online Enquiry
                        li
                            a.py-2.d-block(href='#') General Enquiries
                        li
                            a.py-2.d-block(href='#') Booking Conditions
                        li
                            a.py-2.d-block(href='#') Privacy and Policy
                        li
                            a.py-2.d-block(href='#') Refund Policy
                        li
                            a.py-2.d-block(href='#') Call Us
            .col-md.pt-5.border-left
                .ftco-footer-widget.pt-md-5.mb-4
                    h2.ftco-heading-2 Experience
                    ul.list-unstyled
                        li
                            a.py-2.d-block(href='#') Adventure
                        li
                            a.py-2.d-block(href='#') Hotel and Restaurant
                        li
                            a.py-2.d-block(href='#') Beach
                        li
                            a.py-2.d-block(href='#') Nature
                        li
                            a.py-2.d-block(href='#') Camping
                        li
                            a.py-2.d-block(href='#') Party
            .col-md.pt-5.border-left
                .ftco-footer-widget.pt-md-5.mb-4
                    h2.ftco-heading-2 Have a Questions?
                    .block-23.mb-3
                        ul
                            li
                                span.icon.fa.fa-map-marker
                                span.text 203 Fake St. Mountain View, San Francisco, California, USA
                            li
                                a(href='#')
                                    span.icon.fa.fa-phone
                                    span.text +2 392 3929 210
                            li
                                a(href='#')
                                    span.icon.fa.fa-paper-plane
                                    span.text info@yourdomain.com
        .row
            .col-md-12.text-center
                p
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    | Copyright &copy;
                    script.
                        document.write(new Date().getFullYear());
                    |  All rights reserved | This template is made with 
                    i.fa.fa-heart(aria-hidden='true')
                    |  by 
                    a(href='https://colorlib.com' target='_blank') Colorlib
                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
