nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
    .container
        a.navbar-brand(href='index.html')
            | Vie
            span Travel Agency
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
            span.oi.oi-menu
            |  Menu
        #ftco-nav.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item.active
                    a.nav-link(href='about.html') About
                li.nav-item
                    a.nav-link(href='destination.html') Destination
                li.nav-item
                    a.nav-link(href='hotel.html') Hotel
                li.nav-item
                    a.nav-link(href='blog.html') Blog
                li.nav-item
                    a.nav-link(href='contact.html') Contact
                li.nav-item
                    a.nav-link(href='contact.html')
                        //- i.fa-solid.fa-user
                        img.rounded-circle(src='https://mdbcdn.b-cdn.net/img/new/avatars/2.webp' style='width: 32px;' alt='Avatar')
                        span.ml-2 David Shedmant


