extends base

block banner 
    include _bannerAbout
block content_1
    include _introduce_1
block content_2 
    include _introduce_2
block content_3
    include _feedback
block content_4
    include _askFor