extends base
block banner 
    include _bannerAbout
block box_search
    section.ftco-section.ftco-no-pb
        .container
            .row
                .col-md-12
                    .search-wrap-1.ftco-animate
                        form.search-property-1(action='#')
                            .row.no-gutters
                                .col-lg.d-flex
                                    .form-group.p-4.border-0
                                        label(for='#') Destination
                                        .form-field
                                            .icon
                                                span.fa.fa-search
                                            input.form-control(type='text' placeholder='Search place')
                                .col-lg.d-flex
                                    .form-group.p-4
                                        label(for='#') Check-in date
                                        .form-field
                                            .icon
                                                span.fa.fa-calendar
                                            input.form-control.checkin_date(type='text' placeholder='Check In Date')
                                .col-lg.d-flex
                                    .form-group.p-4
                                        label(for='#') Check-out date
                                        .form-field
                                            .icon
                                                span.fa.fa-calendar
                                            input.form-control.checkout_date(type='text' placeholder='Check Out Date')
                                .col-lg.d-flex
                                    .form-group.p-4
                                        label(for='#') Price Limit
                                        .form-field
                                            .select-wrap
                                                .icon
                                                    span.fa.fa-chevron-down
                                                select.form-control(name='' id='')
                                                    option(value='') $5,000
                                                    option(value='') $10,000
                                                    option(value='') $50,000
                                                    option(value='') $100,000
                                                    option(value='') $200,000
                                                    option(value='') $300,000
                                                    option(value='') $400,000
                                                    option(value='') $500,000
                                                    option(value='') $600,000
                                                    option(value='') $700,000
                                                    option(value='') $800,000
                                                    option(value='') $900,000
                                                    option(value='') $1,000,000
                                                    option(value='') $2,000,000
                                .col-lg.d-flex
                                    .form-group.d-flex.w-100.border-0
                                        .form-field.w-100.align-items-center.d-flex
                                            input.align-self-stretch.form-control.btn.btn-primary(type='submit' value='Search')
block content_1 
    section.ftco-section
        .container
            .row
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-1.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 8 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-mountains
                                    | Near Mountain
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-2.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 10 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-3.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 7 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-4.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 8 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-5.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 10 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-6.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 7 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-7.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 7 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-8.jpg);')
                            span.price $200/person
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 7 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
                .col-md-4.ftco-animate
                    .project-wrap.hotel
                        a.img(href='#' style='background-image: url(images/hotel-resto-9.jpg);')
                            span.price $200/night
                        .text.p-4
                            p.star.mb-2
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                                span.fa.fa-star
                            span.days 3 Days Tour
                            h3
                                a(href='#') Manila Hotel
                            p.location
                                span.fa.fa-map-marker
                                |  Manila, Philippines
                            ul
                                li
                                    span.flaticon-shower
                                    | 2
                                li
                                    span.flaticon-king-size
                                    | 3
                                li
                                    span.flaticon-sun-umbrella
                                    | Near Beach
            .row.mt-5
                .col.text-center
                    .block-27
                        ul
                            li
                                a(href='#') &lt;
                            li.active
                                span 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a(href='#') 5
                            li
                                a(href='#') &gt;
block content_2 
    include _askFor