extends ../layouts/base.pug

block banner 
    include ../blocks/_bannerAbout.pug
block content_1
    include ../blocks/_introduce_1.pug
block content_2 
    include ../blocks/_introduce_2.pug
block content_3
    include ../blocks/_feedback.pug
block content_4
    include ../blocks/_askFor.pug