doctype html
html 
    head
        block head
            title #{title}
            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
            link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900' rel='stylesheet')
            link(href='https://fonts.googleapis.com/css2?family=Arizonia&display=swap' rel='stylesheet')
            link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
            link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
            link(rel='shortcut icon' type='image/png' href='/images/icon-vietour.png' )
            link(rel='stylesheet' href='/css/animate.css')
            link(rel='stylesheet' href='/css/owl.carousel.min.css')
            link(rel='stylesheet' href='/css/owl.theme.default.min.css')
            link(rel='stylesheet' href='/css/magnific-popup.css')
            link(rel='stylesheet' href='/css/bootstrap-datepicker.css')
            link(rel='stylesheet' href='/css/jquery.timepicker.css')
            link(rel='stylesheet' href='/css/flaticon.css')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='stylesheet' href='/css/alert.css')
            style.
                .py-8 {
                    padding-top: 9rem !important;
                    padding-bottom: 8rem !important;
                }
                .text-black {
                    color:black !important
                }
    body
        nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-light.ftco-navbar-light
            .container
                a.navbar-brand.text-black(href='index.html')
                    | Vie
                    span Travel Agency
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
                    span.oi.oi-menu
                    |  Menu
                #ftco-nav.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.text
                        li.nav-item
                            a.nav-link.text-black(href='about') Home
                        li.nav-item
                            a.nav-link.text-black(href='/about') About
                        li.nav-item
                            a.nav-link.text-black(href='destination.html') Destination
                        li.nav-item
                            a.nav-link.text-black(href='hotel.html') Hotel
                        li.nav-item
                            a.nav-link.text-black(href='blog.html') Blog
                        li.nav-item
                            a.nav-link.text-black(href='contact.html') Contact
                        li.nav-item.active
                            a.nav-link.text-black(href='/login') 
                                i.fa-solid.fa-user
                                //- img.rounded-circle(src='https://mdbcdn.b-cdn.net/img/new/avatars/2.webp' style='width: 32px;' alt='Avatar')
                                //- span.ml-2 David Shedmant
        #toast_custom
        section.h-100.h-custom(style='background-color: #8fc4b7;')
            .container.py-8.h-100
                .row.d-flex.justify-content-center.align-items-center.h-100
                    .col-lg-8.col-xl-6
                        .card.rounded-3
                            img.w-100(src='https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp' style='border-top-left-radius: .3rem; border-top-right-radius: .3rem;' alt='Sample photo')
                            .card-body.p-4.p-md-5
                                h3.mb-4.pb-2.pb-md-0.mb-md-5.px-md-2 Registration Info
                                form.px-md-2.form--signup
                                    .form-outline.mb-4(data-mdb-input-init='')
                                        label.form-label(for='form3Example1q') Name
                                        input#fullName.form-control(type='text')
                                    .form-outline.mb-4(data-mdb-input-init='')
                                        label.form-label(for='form3Example3q') Email
                                        input#email.form-control(type='email')
                                    .form-outline.mb-4(data-mdb-input-init='')
                                        label.form-label(for='form3Example4q') Password
                                        input#password.form-control(type='password')
                                    .form-outline.mb-4(data-mdb-input-init='')
                                        label.form-label(for='form3Example5q') Password Confirm
                                        input#passwordConfirm.form-control(type='password')
                                    .d-flex.justify-content-center
                                        button.btn.btn-success.btn-lg.btn-block.mb-1(type='submit' data-mdb-button-init='' data-mdb-ripple-init='') Đăng Ký
            footer.ftco-footer.bg-bottom.ftco-no-pt(style='background-image: url(images/bg_3.jpg);')
                .container
                    .row.mb-5
                        .col-md.pt-5
                            .ftco-footer-widget.pt-md-5.mb-4
                                h2.ftco-heading-2 About
                                p
                                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                ul.ftco-footer-social.list-unstyled.float-md-left.float-lft
                                    li.ftco-animate
                                        a(href='#')
                                            span.fa-brands.fa-x-twitter
                                    li.ftco-animate
                                        a(href='#')
                                            span.fa-brands.fa-facebook
                                    li.ftco-animate
                                        a(href='#')
                                            span.fa-brands.fa-instagram
                        .col-md.pt-5.border-left
                            .ftco-footer-widget.pt-md-5.mb-4.ml-md-5
                                h2.ftco-heading-2 Infromation
                                ul.list-unstyled
                                    li
                                        a.py-2.d-block(href='#') Online Enquiry
                                    li
                                        a.py-2.d-block(href='#') General Enquiries
                                    li
                                        a.py-2.d-block(href='#') Booking Conditions
                                    li
                                        a.py-2.d-block(href='#') Privacy and Policy
                                    li
                                        a.py-2.d-block(href='#') Refund Policy
                                    li
                                        a.py-2.d-block(href='#') Call Us
                        .col-md.pt-5.border-left
                            .ftco-footer-widget.pt-md-5.mb-4
                                h2.ftco-heading-2 Experience
                                ul.list-unstyled
                                    li
                                        a.py-2.d-block(href='#') Adventure
                                    li
                                        a.py-2.d-block(href='#') Hotel and Restaurant
                                    li
                                        a.py-2.d-block(href='#') Beach
                                    li
                                        a.py-2.d-block(href='#') Nature
                                    li
                                        a.py-2.d-block(href='#') Camping
                                    li
                                        a.py-2.d-block(href='#') Party
                        .col-md.pt-5.border-left
                            .ftco-footer-widget.pt-md-5.mb-4
                                h2.ftco-heading-2 Have a Questions?
                                .block-23.mb-3
                                    ul
                                        li
                                            span.icon.fa.fa-map-marker
                                            span.text 203 Fake St. Mountain View, San Francisco, California, USA
                                        li
                                            a(href='#')
                                                span.icon.fa.fa-phone
                                                span.text +2 392 3929 210
                                        li
                                            a(href='#')
                                                span.icon.fa.fa-paper-plane
                                                span.text info@yourdomain.com
                    .row
                        .col-md-12.text-center
                            p
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                | Copyright &copy;
                                script.
                                    document.write(new Date().getFullYear());
                                |  All rights reserved | This template is made with 
                                i.fa.fa-heart(aria-hidden='true')
                                |  by 
                                a(href='https://colorlib.com' target='_blank') Colorlib
                                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.

            script(src='/js/jquery.min.js')
            script(src='/js/jquery-migrate-3.0.1.min.js')
            script(src='/js/popper.min.js')
            script(src='/js/bootstrap.min.js')
            script(src='/js/jquery.easing.1.3.js')
            script(src='/js/jquery.waypoints.min.js')
            script(src='/js/jquery.stellar.min.js')
            script(src='/js/owl.carousel.min.js')
            script(src='/js/jquery.magnific-popup.min.js')
            script(src='/js/jquery.animateNumber.min.js')
            script(src='/js/bootstrap-datepicker.js')
            script(src='/js/scrollax.min.js')
            script(src='/js/main.js')
            script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
            script(type="module" src="/index.js") 
