section.ftco-section.img.ftco-select-destination(style='background-image: url(images/bg_3.jpg);')
    .container
        .row.justify-content-center.pb-4
            .col-md-12.heading-section.text-center.ftco-animate
                span.subheading Pacific Provide Places
                h2.mb-4 Select Your Destination
    .container.container-2
        .row
            .col-md-12
                .carousel-destination.owl-carousel.ftco-animate
                    .item
                        .project-destination
                            a.img(href='#' style='background-image: url(images/place-1.jpg);')
                                .text
                                    h3 Philippines
                                    span 8 Tours
                    .item
                        .project-destination
                            a.img(href='#' style='background-image: url(images/place-2.jpg);')
                                .text
                                    h3 Canada
                                    span 2 Tours
                    .item
                        .project-destination
                            a.img(href='#' style='background-image: url(images/place-3.jpg);')
                                .text
                                    h3 Thailand
                                    span 5 Tours
                    .item
                        .project-destination
                            a.img(href='#' style='background-image: url(images/place-4.jpg);')
                                .text
                                    h3 Autralia
                                    span 5 Tours
                    .item
                        .project-destination
                            a.img(href='#' style='background-image: url(images/place-5.jpg);')
                                .text
                                    h3 Greece
                                    span 7 Tours
