section.ftco-section.testimony-section.bg-bottom(style='background-image: url(images/bg_1.jpg)')
    .overlay
    .container
        .row.justify-content-center.pb-4
            .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
                span.subheading Testimonial
                h2.mb-4 Tourist Feedback
        .row.ftco-animate
            .col-md-12
                .carousel-testimony.owl-carousel
                    .item
                        .testimony-wrap.py-4
                            .text
                                p.star
                                    span.fa.fa-star
                                    span.fa.fa-star
                                    span.fa.fa-star
                                    span.fa.fa-star
                                    span.fa.fa-star
                                p.mb-4
                                    | Far far away, behind the word mountains, far from the
                                    | countries Vokalia and Consonantia, there live the blind
                                    | texts.
                                .d-flex.align-items-center
                                    .user-img(style='background-image: url(images/person_2.jpg)')
                                    .pl-3
                                        p.name Roger Scott
                                        span.position Marketing Manager
