section.ftco-section.ftco-about.ftco-no-pt.img
    .container
        .row.d-flex
            .col-md-12.about-intro
                .row
                    .col-md-6.d-flex.align-items-stretch
                        .img.d-flex.w-100.align-items-center.justify-content-center(style='background-image: url(images/about-1.jpg)')
                    .col-md-6.pl-md-5.py-5
                        .row.justify-content-start.pb-3
                            .col-md-12.heading-section.ftco-animate
                                span.subheading About Us
                                h2.mb-4
                                    | Make Your Tour Memorable and Safe With Us
                                p
                                    | Far far away, behind the word mountains, far from the
                                    | countries Vokalia and Consonantia, there live the blind
                                    | texts. Separated they live in Bookmarksgrove right at the
                                    | coast of the Semantics, a large language ocean.
                                p
                                    a.btn.btn-primary(href='#') Book Your Destination
