section.ftco-section.services-section
    .container
        .row.d-flex
            .col-md-6.order-md-last.heading-section.pl-md-5.ftco-animate.d-flex.align-items-center
                .w-100
                    span.subheading Welcome to Pacific
                    h2.mb-4 It&apos;s time to start your adventure
                    p
                        | A small river named Duden flows by their place and supplies it
                        | with the necessary regelialia. It is a paradisematic country, in
                        | which roasted parts of sentences fly into your mouth.
                    p
                        | Far far away, behind the word mountains, far from the countries
                        | Vokalia and Consonantia, there live the blind texts. Separated
                        | they live in Bookmarksgrove right at the coast of the Semantics,
                        | a large language ocean. A small river named Duden flows by their
                        | place and supplies it with the necessary regelialia.
                    p
                        a.btn.btn-primary.py-3.px-4(href='#') Search Destination
            .col-md-6
                .row
                    .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                        .services.services-1.color-1.d-block.img(style='background-image: url(images/services-1.jpg)')
                            .icon.d-flex.align-items-center.justify-content-center
                                span.flaticon-paragliding
                            .media-body
                                h3.heading.mb-3 Activities
                                p
                                    | A small river named Duden flows by their place and
                                    | supplies it with the necessary
                    .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                        .services.services-1.color-2.d-block.img(style='background-image: url(images/services-2.jpg)')
                            .icon.d-flex.align-items-center.justify-content-center
                                span.flaticon-route
                            .media-body
                                h3.heading.mb-3 Travel Arrangements
                                p
                                    | A small river named Duden flows by their place and
                                    | supplies it with the necessary
                    .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                        .services.services-1.color-3.d-block.img(style='background-image: url(images/services-3.jpg)')
                            .icon.d-flex.align-items-center.justify-content-center
                                span.flaticon-tour-guide
                            .media-body
                                h3.heading.mb-3 Private Guide
                                p
                                    | A small river named Duden flows by their place and
                                    | supplies it with the necessary
                    .col-md-12.col-lg-6.d-flex.align-self-stretch.ftco-animate
                        .services.services-1.color-4.d-block.img(style='background-image: url(images/services-4.jpg)')
                            .icon.d-flex.align-items-center.justify-content-center
                                span.flaticon-map
                            .media-body
                                h3.heading.mb-3 Location Manager
                                p
                                    | A small river named Duden flows by their place and
                                    | supplies it with the necessary
