section.ftco-section
    .container
        .row.justify-content-center.pb-4
            .col-md-12.heading-section.text-center.ftco-animate
                span.subheading Destination
                h2.mb-4 Tour Destination
        .row
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-1.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 8 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-mountains
                                | Near Mountain
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-2.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 10 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-sun-umbrella
                                | Near Beach
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-3.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 7 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-sun-umbrella
                                | Near Beach
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-4.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 8 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-sun-umbrella
                                | Near Beach
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-5.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 10 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-sun-umbrella
                                | Near Beach
            .col-md-4.ftco-animate
                .project-wrap
                    a.img(href='#' style='background-image: url(images/destination-6.jpg);')
                        span.price $550/person
                    .text.p-4
                        span.days 7 Days Tour
                        h3
                            a(href='#') Banaue Rice Terraces
                        p.location
                            span.fa.fa-map-marker
                            |  Banaue, Ifugao, Philippines
                        ul
                            li
                                span.flaticon-shower
                                | 2
                            li
                                span.flaticon-king-size
                                | 3
                            li
                                span.flaticon-sun-umbrella
                                | Near Beach
